.btn {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;

  min-width: 164px; /* largura minima */

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 20px;
  border: 1px solid transparent;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;

  text-transform: uppercase;
}

.btn--primary--blue {
  max-width: 200px;

  padding: 0;
  padding-right: 30px;

  background-color: #203a4c;
  border-color: #203a4c;
  color: #fff;
}

.btn--primary--blue svg {
  box-sizing: content-box;

  background-color: rgba(0, 0, 0, 0.1);

  padding: 16px 16px;
  margin-right: 34px;
}

.btn--primary--blue:hover {
  background-color: #5fb4a2;
  border-color: #5fb4a2;
}

.btn--primary--blue:hover svg g {
  stroke: #fff;
}

.btn--secondary--white {
  background-color: #fafafa;
  border-color: #33323d;
  color: #33323d;
}

.btn--secondary--white:hover {
  background-color: #33323d;
  color: #fafafa;
}

.btn--secondary--blue {
  background-color: #203a4c;
  border-color: #203a4c;
  color: #fff;
}

.btn--secondary--blue:hover {
  background-color: #5fb4a2;
  border-color: #5fb4a2;
}
