.input,
.text-area {
  all: unset; /* todas as suas propriedades sem valor*/

  width: 100%; /* largura */
  background-color: rgba(51, 50, 62, 0.1); /* cor de fundo */
  border: 2px solid transparent; /* borda com cor transparente */
}

.text-area {
  min-height: 100px; /* tamanho minimo de 100px */
}

/* quando entrar em foco, muda a cor da borda de solida para preta(#000) */
.input:focus,
.text-area:focus {
  border-color: #000;
}
