.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* justifica os itens no centro */
.justify-center {
  justify-content: center;
}

/* justifica os itens com espaçamento entre eles */
.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}
