.hero-section-content {
  /* largura máxima */
  max-width: 445px;
}

.hero-section {
  background-image: url(../../assets/icons/backgournd-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sobre-mim-imagem {
  max-width: 400px;
}

